<div class="container">

    <h1>Resultado Simulação Tabela Principal</h1>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Modalidade : {{retornaModalidade(parametrosrequest.modalidade)}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Prazo : {{parametrosrequest.prazo}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Valor Crédito : {{parametrosrequest.valorCredito}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Incc : {{parametrosrequest.incc}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Lance : {{parametrosrequest.lance}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Taxa Administrativa : {{parametrosrequest.taxaAdm}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Mês Atual : {{parametrosrequest.mesAtual}}</mat-label>
      <input [disabled]="true" matInput>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <ng-container matColumnDef="cota">
              <th mat-header-cell *matHeaderCellDef> Cota </th>
              <td mat-cell *matCellDef="let element"> {{element.cota}} </td>
            </ng-container>
        
            <ng-container matColumnDef="mesContemplacao">
              <th mat-header-cell *matHeaderCellDef>Mes&NonBreakingSpace;Contemplação</th>
              <td mat-cell *matCellDef="let element"> {{element.mesContemplacao}} </td>
            </ng-container>
        
            <ng-container matColumnDef="formaContemplacao">
              <th mat-header-cell *matHeaderCellDef> Forma&NonBreakingSpace;Contemplação </th>
              <td mat-cell *matCellDef="let element"> {{element.formaContemplacao}} </td>
            </ng-container>

            <ng-container matColumnDef="creditoAtualizado">
                <th mat-header-cell *matHeaderCellDef> Credito Atualizado </th>
                <td mat-cell *matCellDef="let element"> {{element.creditoAtualizado}} </td>
              </ng-container>
        
            <ng-container matColumnDef="investimentoMensalCorrigido">
              <th mat-header-cell *matHeaderCellDef> Investimento Mensal Corrigido </th>
              <td mat-cell *matCellDef="let element"> {{element.investimentoMensalCorrigido}} </td>
            </ng-container>

            <ng-container matColumnDef="valorInvestidoCorrigido">
                <th mat-header-cell *matHeaderCellDef> Valor Investido Corrigido </th>
                <td mat-cell *matCellDef="let element"> {{element.valorInvestidoCorrigido}} </td>
              </ng-container>

              <ng-container matColumnDef="parcelaPosContemplacao">
                <th mat-header-cell *matHeaderCellDef> Parcela Pos&NonBreakingSpace;Contemplação </th>
                <td mat-cell *matCellDef="let element"> {{element.parcelaPosContemplacao}} </td>
              </ng-container>

              <ng-container matColumnDef="valorVenda">
                <th mat-header-cell *matHeaderCellDef> Valor Venda </th>
                <td mat-cell *matCellDef="let element"> {{element.valorVenda}} </td>
              </ng-container>

              <ng-container matColumnDef="ir">
                <th mat-header-cell *matHeaderCellDef> Imposto Renda </th>
                <td mat-cell *matCellDef="let element"> {{element.ir}} </td>
              </ng-container>

              <ng-container matColumnDef="lucroLiquido">
                <th mat-header-cell *matHeaderCellDef> Lucro Liquido </th>
                <td mat-cell *matCellDef="let element"> {{element.lucroLiquido}} </td>
              </ng-container>

              <ng-container matColumnDef="retornSobCapitalInvest">
                <th mat-header-cell *matHeaderCellDef> Retorno Sob Capital Investido </th>
                <td mat-cell *matCellDef="let element"> {{element.retornSobCapitalInvest}} </td>
              </ng-container>

              <ng-container matColumnDef="estrategia">
                <th mat-header-cell *matHeaderCellDef> Estrategia </th>
                <td mat-cell *matCellDef="let element"> {{element.estrategia}} </td>
              </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator> -->
        </div>    
  </div>