<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Simulador de Consórcios</mat-card-title>
      <!-- <mat-card-subtitle></mat-card-subtitle> -->
    </mat-card-header>
    <img class="full-width" src="assets/img/grafico.jpg" alt="image">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Consórcio de investimento seguro com retorno garatido!<br />
           </p>
           <p><a href="https://br.freepik.com/vetores-gratis/grafico-de-crescimento-do-negocio-com-seta-para-cima_1191846.htm#page=2&query=grafico%20subindo&position=43&from_view=search&track=ais&uuid=112e848c-02c3-4e34-b990-ffe858ee5bb8">Imagem de pinnacleanimates</a> no Freepik</p>
    </mat-card-content>
  </mat-card>
  