.container {
   width: 45%;
   margin: auto auto 3rem auto;
   padding: 1rem;
   border-radius: 1rem;
}

.full-width {
   width: 100%;
}

h1, img, p{
   text-align: center;
}

img {
   height: 15rem;
   margin: 0 0 2rem 0; /* em sequencia: parte de cima, lateral direita, parte de baixo, lateral esquerda */
}

.modalidade {
   display: flex;
   justify-content: space-between;
}

.modalidade mat-form-field {
   width: 49%;
}

button {
   margin-top: .5rem;
}

p {
   margin-top: 3rem;
   opacity: .5;
}